/* Código CSS */

/* Reset de Estilos Padrão do Navegador */
html {
  scroll-behavior: smooth;
}

/* Importação de Fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Estilos Básicos */
body {
  font-family: "Open sans", sans-serif;
  color: #000000;
}

a {
  color: #5c9f24;
}

a:hover {
  color: #74c92d;
  text-decoration: none;
}

/* Estilos de Títulos */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

/* Estilos do Cabeçalho */
#header {
  background: #000000;
  padding: 15px;
}

#header .logo {
  font-size: 25px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}

#header .logo a {
  color: #fff;
}

#header .logo a:hover {
  color: #4070F4;
}

/* Estilos do Menu Hambúrguer */
.hamburger-menu {
  display: none;
}

/* Menu de Navegação */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 22px;
}

/* Estilo para links no menu */
.nav-menu a {
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 0 4px;
  text-transform: uppercase;
}

/* Linha animada sob os links */
.nav-menu > ul > li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6%;
  left: 0;
  background-color: #4070F4;
  visibility: hidden;
  width: 0px;
  transition: all 0.8s ease-in-out;
}

/* Animação da linha ao passar o mouse */
.nav-menu a:hover::before,
.nav-menu li:hover > a::before,
.nav-menu .active > a::before {
  visibility: visible;
  width: 100%;
}

/* Cor do texto ao passar o mouse ou link ativo */
.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: #fff;
}

/* Botão "Contato" */
.get-started-btn {
  margin-left: 25px;
  color: #fff;
  border-radius: 4px;
  padding: 6px 25px 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 13px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  border: 2px solid #4070F4;
}

/* Estilo do botão ao passar o mouse */
.get-started-btn:hover {
  background: #4070F4;
  color: #fff;
}

/* Responsividade */
@media (max-width: 999px) {
  .titulo-cabecalho-bootstrap .titulo {
    font-size: 1.5625em;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -1.8em;
  }

  .titulo-cabecalho-bootstrap .texto {
    font-size: 1.125em;
    color: #fff;
    margin-left: -1.5em;
  }

  .titulo-cabecalho-bootstrap-1 h3 {
    text-align: left;
  }

  .get-started-btn {
    margin: 0 30px 0 0;
    padding: 6px 18px;
  }

  /* Estilo para o ícone do menu hambúrguer */
  .hamburger-menu {
    display: block;
    position: absolute;
    right: 13px; 
    font-size: 25px;
  }

  .nav-menu > ul > li a::before {
    display: none;
  }

  /* Estilo para a classe .custom-nav-menu */
  .custom-nav-menu {
    position: absolute; 
    top: 100%; 
    left: 0.0em; 
  }
}

/* Responsividade para iPhone */
@media (max-width: 402px) {
  .titulo-cabecalho-bootstrap .titulo {
    font-size: 1.215rem; 
    text-align: justify;
    font-family: Arial, sans-serif;
    margin-left: -2.4em; 
  }

  .titulo-cabecalho-bootstrap .texto {
    font-size: 1.125rem; 
    font-family: Arial, Helvetica, sans-serif;
  }
}

/* Responsividade */
@media (max-width: 999px) {
  .logo-image {
    max-width: 70px;
    margin-right: 10px;
    margin-left: -15%; 
  }

  .get-started-btn {
    margin: 0 30px 0 0;
    padding: 6px 18px;
  }

  /* Ícone do menu hambúrguer */
  .hamburger-menu {
    display: block;
    position: absolute;
    right: 13px;
    font-size: 25px;
  }

  /* Barra de navegação */
  .nav-menu {
    transition: opacity 0.3s;
  }

  .nav-menu.recolhida {
    opacity: 0;
    pointer-events: none;
  }

  /* Remova os pontos antes dos links do menu */
  .nav-menu > ul > li a::before {
    display: none;
  }

  /* Estilo para mostrar o menu como colunas quando expandido */
  .custom-nav-menu.show-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .custom-nav-menu.show-menu a {
    padding: 6px;
    display: block;
    color: white;
    text-decoration: none;
    transition: color 0.2s;
  }

  .custom-nav-menu.show-menu a:hover {
    color: #4070F4;
  }

  /* Estilo para o menu de navegação */
  .custom-nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #333;
    width: 100%;
    display: none;
  }

  .custom-nav-menu a {
    padding: 1em;
    display: block;
    color: white;
  }

  .custom-nav-menu.show-menu {
    display: block;
  }
}

/* Estilo para os ícones do menu */
.hamburger-icon,
.close-icon {
  display: inline-block;
}

/* Ícone de fechar inicialmente oculto */
.close-icon {
  display: none;
}

/* Estilo para ambos os ícones */
.hamburger-icon .fa-bars,
.close-icon .fa-times {
  background: -webkit-linear-gradient(45deg, #1d4ed8, #1b3c5d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Quando o menu está ativo, esconde o ícone do menu hambúrguer e mostra o "X" */
.show-menu .hamburger-icon {
  display: none;
}

.show-menu .close-icon {
  display: inline-block;
}

/* Estilização para o Início da Página */
.titulo-cabecalho-bootstrap {
  background-color: #333;
  margin-top: 150px;
  color: #fff;
  border-radius: 18px;
  padding: 5rem !important;
  padding-top: 3rem !important;
  padding-right: 2rem !important;
  padding-bottom: 5rem !important;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  transition: margin-top 0.3s;
}

.titulo-cabecalho-bootstrap h2 {
  font-size: 1.5625em;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

.titulo-cabecalho-bootstrap .texto {
  margin-top: 10px;
  font-size: 1.125em;
  color: #fff;
  text-align: left;
}

/* Estilização para links no cabeçalho */
.estilo {
  color: #4070F4;
}

.nome, .nome:hover {
  color: #fff;
  cursor: pointer;
}

.nome:hover {
  text-decoration: underline;
}

/* Estilização para a imagem Eniac */
.image-eniac, .eniac {
  width: 23.25em; 
  margin: 1em auto; 
  display: block;
}

/* Estilização para segundo TxT Inicio */
.texto-introducao {
  margin-top: 60px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.texto-introducao h3 {
  font-size: 1.75em;
  font-weight: 1000;
  margin: 20px;
}

.texto-introducao p {
  font-size: 1.125em;
  margin: 20px;
}

/* Aqui eu defini variáveis para reutilização */
:root {
  --cor-texto: #000;
  --fonte-padrão: Arial, Helvetica, sans-serif;
}

/* Estilização para terceiro TxT Inicio */
.titulo-cabecalho-bootstrap-1 {
  margin-top: 60px;
  color: var(--cor-texto);
  font-family: var(--fonte-padrão);
}

.titulo-cabecalho-bootstrap-1 h3 {
  font-size: 1.75em;
  font-weight: 1000;
  margin: 20px;
}

.titulo-cabecalho-bootstrap-1 p {
  font-size: 1.125em;
  margin: 20px;
}

/*Estilização para slide de perfil */
.body1{
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background-color: #fff;
}
.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #cdcdcd;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content:'';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #cdcdcd;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #cdcdcd;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070f4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.descricao{
  font-size: 14px;
  color: #000;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #265DF2;
}
.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #6E93f7;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 40px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination.bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination.bullet{
  background-color: #4070F4;
}

/* Estilização para slide de perfil em telas menores */
@media screen and(max-width: 768px) {
  .slide-content {
    display: none;
  }
  .swiper-navBtn {
    margin: 0 10px;
  }
}

/*Estilização para seção História computação*/

/* Estilização para adicionar pontos pretos antes de cada palavra */
.destacar-texto::before {
  content: '\2022'; 
  color: black; 
  margin-right: 5px; 
}
/* Exemplo de uso */
.destacar-texto {
  display: inline;
}
/* Estilização para imagens */
.image-computador {
  width: 23.25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image-pcs,
.image-ibm360,
.image-univac,
.image-eniac,
.image-colossus,
.image-cartao,
.image-telegrafo,
.image-maquina,
.image-abaco {
  width: 23.25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Estilização para os containers */
.computador,
.surgimento,
.pcs,
.ibm360,
.univac,
.eniac,
.colossus,
.cartao,
.telegrafo,
.maquina,
.abaco {
  width: 21.25em;
  margin: 1em auto;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.cabecalho-historia-computacao{
  margin-top: 130px;
  transition: margin-top 0.3s;
}
.cabecalho-historia-computacao h3{
font-size: 1.5625em;
}
.cabecalho-historia-computacao p{
font-size: 1.125em;
}

/* Estilização para telas menores (max-width: 768px) - História Programação e Início */
@media (max-width: 768px) {
  /* Estilização para a seção principal em telas menores */
  .secao {
    flex-direction: column;
  }
  .secao p {
    margin: 0.5em;
  }
  .secao img {
    margin: auto;
    max-width: 70%;
    margin-top: 20px;
  }
  /* Estilização para a seção Babbage em telas menores */
  .secao-babbage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 10%;
  }
  .secao-babbage img {
    height: 250px;
    margin-bottom: 10px;
  }
  .secao-babbage .texto {
    flex: 1;
    order: -1;
  }
  .secao-babbage p {
    margin-top: 0;
  }
  .secao-babbage strong {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  /* Ajuste de posicionamento para o título do cabeçalho no Bootstrap */
  .titulo-cabecalho-bootstrap .texto {
    margin-top: -20px;
    margin-left: -60px;
  }
}

@media (max-width: 999px) {
  /* Estilização para a seção principal em telas pequenas */
  .secao {
    display: flex;
    width: 100%;
  }

  .secao img {
    height: 250px;
    margin-top: 7%;
  }

  .secao p {
    margin-right: 18px;
  }
  /* Estilização para a seção Babbage em telas pequenas */
  .secao-babbage {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 10%;
  }
  .secao-babbage img {
    height: 250px;
    margin-right: 18px;
  }
  .secao-babbage .texto {
    flex: 1;
  }
  .secao-babbage p {
    margin-top: 0;
  }
  .secao-babbage strong {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
}

/* Estilização para a seção História Programação */
.cabecalho-historia-programacao {
  margin-top: 130px;
  transition: margin-top 0.3s;
}
.cabecalho-historia-programacao h2 {
  font-size: 1.5625em;
}
.cabecalho-historia-programacao p {
  font-size: 1.125em;
  margin: 1.2em;
}
body {
  margin: 0;
  font-family: sans-serif;
}
/* Estilização para a seção principal */
.secao {
  display: flex;
  width: 100%;
}
.secao img {
  height: 250px;
  margin-top: 13%;
  border-radius: 70px;
}
.secao p {
  margin-right: 15px;
}
.secao strong {
  font-size: 1.5em;
  margin-bottom: 10px;
}
#card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.8s ease-in-out, box-shadow 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

#card.aparecer {
  opacity: 1;
  transform: translateY(0);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.texto {
  padding: 20px;
}
img {
  height: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* Estilização para a seção Babbage */
.secao-babbage {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 20px;
}
.secao-babbage img {
  height: 250px;
  margin-right: 15px;
  border-radius: 70px;
}
.secao-babbage .texto {
  flex: 1;
}
.secao-babbage p {
  margin-top: 0;
}
.secao-babbage strong {
  font-size: 1.5em;
  margin-bottom: 10px;
}
/* Estilização para links */
a:hover {
  color: blue;
}
a {
  color: blue;
}

/* Estilização para seção Paradigmas*/
.cabecalho-paradigmas{
  margin-top: 130px;
  transition: margin-top 0.3s; 
}
.cabecalho-paradigmas h2{
font-size: 1.5625em;
}
.cabecalho-paradigmas p{
font-size: 1.125em;
}

/* Estilização para o rodapé */
.rodape {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 110px;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
}

/* Estilização para os links no rodapé */
.rodape a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

/* Estilização para os links no rodapé no hover (ao passar o mouse) */
.rodape a:hover {
  text-decoration: none;
}

/* Estilização para a seção "Links Úteis" */
.rodape .col-md-6 ul {
  list-style: none;
  padding: 0;
}

.rodape .col-md-6 ul li {
  margin-bottom: 8px;
}

.rodape .col-md-6 ul li a {
  color: #fff;
  text-decoration: none;
}

/* Estilização para a seção "Contato" */
.rodape p {
  font-size: 17px;
  color: #fff;
}

.highlighted-text {
  font-size: 24px;
  font-weight: bold;
}

.contact-info {
  text-align: right;
}

/* Logotipo */
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-image {
  max-width: 70px;
  margin-right: -5px;
  margin-left: -15%;
}

/* Estilização para os direitos autorais */
.direitos-autorais {
  text-align: center;
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
}

